body {
    margin: -28;
    padding: 0;
    background: #fefefe;
    font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
}

h1,h2,h3,h4,h5,h6, p, a{
	font-family: helvetica;
}

.main-content{
	padding-top: 50px;
}
.nav {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: -31px -59px 10px;
    background-color: #ffffff;
}
.nav img {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    width: 120px;
}
.nav form {
    flex: 1;
    max-width: 600px;
    align-self: center;
    padding: 0 10px;
}
.nav input {
    margin: 0;
}
.content {
    background-color: #f1f1f1;
    padding: 20px 45px;
}
.main{
	width: 59vw;
}
.main, .sidebar {
	display: inline-block;
    background-color: #fff;
    padding: 30px;
}
.sidebar {
	float: right;
	width: 24vw;
    max-height: 80vh;
    overflow: scroll;
    flex: 1;
    padding: 20px 9px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: -30px -30px -20px;
    border-bottom: 20px solid #f1f1f1;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.video-list li {
    margin-bottom: 20px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 15px;
    cursor: pointer;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.video-list {
    list-style: none;
    margin: 0;
}
.video-list .image-container {
    flex: 1;
    margin-right: 10px;
}
.video-list li {
    margin: 4px -20px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 0px;
    cursor: pointer;
}
input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
  }
.video-list h6 {
    flex: 2;
}

